 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 .header{

 }
 .main{
    width: 100vw;
    height: 60vh;
    background-color: white;
 }
 .main .rojo{
    background-color: #f58989;
    width: 15vw;
    height: 33vh;
 }
 .main .azul{
    background-color: #69d0f0;
    width: 15vw;
    height: 33vh;
 }
 .main .amarillo{
    background-color: #e9b443;
    width: 15vw;
    height: 33vh;
 }
 .footer{

 }